body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.car-more-info {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.car-image img {
    max-width: 75%;
    height: auto;
    border-radius: 8px;
}

.car-details h2 {
    font-size: 2em;
    margin-bottom: 5px;
}

.car-details p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.price {
    font-size: 1.3em;
    color: #28a745;
}

#choose-date {
    text-align: center;
    margin-top: 1px;
    font-size: 1.5em;
}

.filter-box {
    max-width: 500px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-item {
    margin-bottom: 20px;
}

.filter-item input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-item label {
    font-size: 1.1em;
    margin-top: 5px;
    display: block;
}

.filter-item button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.filter-item button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .car-more-info {
        flex-direction: column;
    }

    .car-details {
        padding-left: 0;
        margin-top: 20px;
    }

    .filter-box {
        width: 90%;
    }
}